/* Styles for my Cake Blog */

body {
    background-color: #fdfdf9;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

a:link,
a:visited {
    color: #23a0da;
    text-decoration: underline;
}

a:hover {
    color:#d8c815;
    text-decoration: none;
}

a:active {
    color: #23a0da;
    text-decoration: underline;
}

header {
    display: block;
    padding: 10px 20px;
    background: #a0153f; 
    color: #fdfdf9;
    position: relative;
}

    header h1 { 
        font-size: 3em;
    }
    
    header .welcome {
        display: block;
        width: 230px;
        padding: 0 10px;
        top: 50px;
        right: 0px;
        background-color: #770f2f;
        text-align: center;
        position: absolute;
    }
    
    header .welcome a {
        font-weight: bold;
        text-decoration: none;
    }
    
section {
    width: 65%;
    float: left;
}

article {
    display: block;
    clear: both;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #a0153f;
}

    article h2 {
        font-size: 1.5em;
    }
    
    article p {
        padding: 0.5em 0;
    }
    
    article figure {
        display: block;
        float: right;
        max-width: 300px;
        padding: 10px;
        border: 1px solid #e5e5df;
        background-color: #fff;
    }
    
    article figure img {
        width: 100%;
    }
    
    article figure figcaption {
        font-style: italic;
        color: #5e5e5e;
    }
    
aside {
    display: block;
    float: right;
    width: 30%;
    padding: 20px 2%;
    margin-left: 20px;
    border-left: 1px dashed #a0153f;
}

    aside p {
        font-size: 0.8em;
    }

header,
section, 
article,
aside,
footer {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

footer {
    display: block;
    clear: both;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #a0153f;
}

.yellow-box,
.blue-box,
.green-box,
.orange-box {
    display: block;
    float: left;
    width: 33%;
}

.yellow-box {
    background-color: yellow;
    height: 300px;
}

.green-box {
    background-color: lime;
    height: 150px;
}

.blue-box {
    background-color: aqua;
    height: 100px;
}

.orange-box {
    background-color: orange;
    height: 100px;
    clear: left;
}


.fixed-header {
    padding-top: 220px;
}

    .fixed-header header {
        position: fixed;
        top: 0px;
        width: 100%;
    }


