/* Styles for my Cake Blog */

body {
    background-color:#fdfdf9;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

header {
    display: block;
    padding: 10px 20px;
    background: #a0153f; 
    color: #fdfdf9;
}

    header h1 {
        font-size: 2em;
    }

article {
    display: block;
    clear: both;
    padding: 10px 20px;
    border-bottom: 1px dashed #a0153f;
}

    article h2 {
        font-size: 1.5em;
    }
    
    article p {
        padding: 0.5em 0;
    }
    
    article figure {
        display: block;
        float: right;
        max-width: 300px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #e5e5df;
    }
    
    article figure img {
        width: 100%;
    }
    
    article figure figcaption {
        font-style: italic;
    }